 <div class="center jumbotron">
    <h1>Benja Contreras</h1>
    <h6>-Artist</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula, augue et vehicula sagittis, libero augue consectetur magna, nec dignissim.</p>

    <%= link_to "Portfolio", '#', class: "btn btn-lg btn-primary" %>
    </div>